.loginPaper {
  width: 18rem;
  position: absolute;
  left: 40%;
  top: 20%;
  text-align: center;
}

.registerBox {
  width: 18rem;
  position: absolute;
  left: 40%;
  top: 20%;
  text-align: center;
}

.accountdiv {
  width: 38rem;
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 25%;
  top: 20%;
}

.customercard {
  position: relative;
}

.display_product_card {
  overflow-y: auto;
  display: grid;
  grid-template: auto/repeat(4, 1fr);
}
